

.class-container{
    background: linear-gradient(360deg, rgba(65,16,73,1) 0%, rgba(128,51,135,1) 42%, rgba(186,104,226,1) 100%);
    
}

.spotify-playlist{
    padding: 28px 40px;
}





.spotify-playlist h2{
    color: #ffffff;
    font-size: 22px;
    margin-bottom: 20px;

}

.spotify-playlist .list{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    



}

.spotify-playlist .list .item{
    min-width: 140px;
    width: 160px;
    padding: 15px;
    background: linear-gradient(360deg, rgb(32, 1, 37) 0%, rgb(187, 142, 191) 42%, rgb(205, 175, 221) 100%);;
    border-radius: 6px;
    cursor: pointer;
    transition: all ease 0.4s;
}
.spotify-playlist .list .item:hover{
    background-color: #280569;


}

.spotify-playlist .list .item img{
    width: 100%;
    border-radius: 6px;
    margin-bottom: 10px;
}

img{
    width: 100px;
    height: 100px;
}

footer nav {
    display: flex;
    justify-content: space-around;
}

footer nav a {
    color: #0a0a0a;
    text-decoration: none;
    font-weight: bold;
    padding: 1rem;
    transition: all 0.2s ease-in-out;
}

footer nav a:hover {
    color: #1dae4b;
}

header {
    display: flex;
    align-items: center; 
    justify-content: flex-end; 
    width: 100%; 
    background-color: #333; 
    padding: 10px; 
    color: white; 
}

.material-symbols-outlined {
    font-size: 24px; 
    margin-right: 10px; 
}






  